<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="Description" content="Author: Mohamad Al Ghorani,
	Designer: Mohamad Al Ghorani, Category: app,">
	<meta name="theme-color" content="#5e00ff"/>
	<!-- <link rel="apple-touch-icon" href="/icons/logo.png"> -->
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title><%- title %></title>
	<!-- <link rel="shortcut icon" href="/icons/icon-72x72.png" type="image/png" /> -->
	<!-- <link rel="manifest" href="/manifest.json">  -->
	<script defer src="/index.js"></script>
	<link rel="stylesheet" href="/index.css">
</head>
<body>
<header>
	<h1>Party 2020</h1>