<%- include ./partials/head.ejs %>
<h2>Hello <span class="user-name"><%- name %></span></h2>
<h3>Chat with the people</h3>
<ul id="messages"></ul>
<form id="form" action="">
	<div>
		<input  autocomplete="off" id="m">
		<input type="submit" value="sturen">
	</div>
</form>

<%- include ./partials/footer.ejs %>