<%- include ./partials/head.ejs %>
</header>
<main>
<form class="join-form" action="/join" method="GET">
	<fieldset>
		<legend>Join a Party</legend>
		<p>Before you join the party please open your spotify application on your own device and start a track that you want. So when you join the party, you can listen to the party music immediately on the same position like others. </p>
		<label for="party">Party ID: </label>
		<input id="party" type="text" name="party_id">
	</fieldset>
		<input type="submit" value="Join The Party">
</form>
<form class="create-form" action="/setup">
	<fieldset>
		<legend>Create a Party</legend>
	</fieldset>
		<input type="submit" value="Create">
</form>

<%- include ./partials/footer.ejs %>