<%- include ./partials/head.ejs %>
</header>
<main>
<form class="join-form" action="/join" method="GET">
	<fieldset>
		<legend>Join a Party</legend>
		<p>To join the party please open your spotify application on your own device first and start playing any track. Then enter the party ID.</p>
		<label for="party">Party ID: </label>
		<input id="party" type="text" name="party_id">
	</fieldset>
		<input type="submit" value="Join The Party">
</form>
<form class="create-form" action="/setup">
	<fieldset>
		<legend>Create a Party</legend>
	</fieldset>
		<input type="submit" value="Create">
</form>

<%- include ./partials/footer.ejs %>