<%- include ./partials/head.ejs %>
</header>
<main>
<form class="inlog-form" action="/chat" method="GET">
	<fieldset>
		<legend>Get started</legend>
		<label for="user">User name: </label>
		<input id="user" type="text" name="name">
	</fieldset>
		<input type="submit" value="start chat">
</form>

<%- include ./partials/footer.ejs %>