<%- include ./partials/head.ejs %>
</header>
<main>
<form class="inlog-form spotify-login" action="/login">
	<fieldset>
		<legend>Login with your premium spotify account</legend>
	</fieldset>
		<input type="submit" value="login">
</form>

<%- include ./partials/footer.ejs %>