* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    box-sizing: border-box;
}

.playlist-btn {
  display: none;
}

.play-btn {
  display: none;
}

.track-card {
  display: flex;
  margin-bottom: 1em;
  padding-bottom: 1em;
  gap: 1rem;
  border-bottom: 1px solid white;
}

.track-card img {
  width: 100px;
  height: 100px;
}
.track-card div {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.track-card div p {
  margin: 0;
}

button {
  cursor: pointer;
  background-color: #1ed760;
  color: black;
  padding: .5rem;
  border: none;
  border-radius: 10px;
}

button:hover {
  background-color: #13893c;
}

.dj-volume {
  accent-color: black;
  display: none;
}
input.dj-volume {
  width: 100%;
}

.play-active {
  display: block;
}

body {
  font-size: 1rem;
}

#messages li {
  margin-top: 0.5em;
}

header {
  position: fixed;
  background-color: white;
  top: 0;
  left: 0;
  right: 0;
  padding-left: 2em;
  width: 100%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;;
  background-color: black;
}

header p {
  color: white;
}

.party-container {
  display: flex;
  justify-content: space-between;
}

#lights {
  position: absolute;
  top: 110px;
  right: 60%;
}

.userList li {
  list-style-image: url("icons/guest.png");
}

.userList .li-host {
  cursor: pointer;
}

.userList .host {
  list-style-image: url("icons/host.png");
}

.userList .dj {
  list-style-image: url("icons/dj.png");
}

.tracks-container {
  background-color: black;
  color: white;
  z-index: 99;
  padding: 1em;
  position: fixed;
  width: 23%;
  right: 0;
  top: 0;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  -webkit-scroll-snap-destination: 0% 0%;
  -webkit-overflow-scrolling: touch;
  height: 95.5vh;
  border-left: 1px solid black;
}

.userList {
  transition: all 1s ease-in-out;
  background-color: white;
  position: fixed;
  width: 26.6%;
  right: 23%;
  top: 0;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  -webkit-scroll-snap-destination: 0% 0%;
  -webkit-overflow-scrolling: touch;
  height: 100vh;
  border-left: 1px solid black;
  z-index: 98;
}

.userList .users-container {
  margin: 0;
  margin-top: 130px;
  margin-left: 1em;
}

.userList .users-container-host {
  margin: 0;
  margin-top: 182px;
  margin-left: 1em;
}

.userList .users-container ul {
  margin: 0;
}

.closed {
  transition: all 1s ease-in-out;
  right: 0;
  width: 26.6%;
  overflow-y: visible;
  overflow-x: visible;
}

.users-number {
  border-radius: 50%;
  border: 1px solid #000;
  text-align: center;
  width: 40px;
  margin-top: 0.5em;
  margin-left: 6px;
  line-height: 40px;
  display: block;
  height: 40px;
}

.n-users {
  left: -56px;
  top: 3rem;
  background-color: white;
  position: absolute;
  z-index: 9999999999999;
}

.pik {
  left: -59px;
  position: absolute;
  z-index: 9999999999999;
}

.playlist-container {
  margin-top: 200px;
  padding-left: 1.2em;
}

.playlist-container a p {
  color: black;
  padding: 1em;
  width: 150px;
  text-align: center;
  border-radius: 40px;
  border: 1px black solid;
}

.playlist-container a {
  text-decoration: none;
}

.chat-container {
  transition: all 1s ease-in-out;
  width: 73%;
}

.change-size {
  transition: all 1s ease-in-out;
  width: 50%;
}

header h1,
header h2,
header h3,
header h4 {
  color: white;
}

.playlist-head {
  color: black;
  position: fixed;
  padding: 1em;
  background-color: white;
  border-left: 1px solid black;
  top: 0;
  right: 0;
  margin-top: 0;
  z-index: 999;
  width: 23%;
}
.playlist-footer {
  color: black;
  position: fixed;
  padding: 1em;
  background-color: white;
  border-left: 1px solid black;
  bottom: 0;
  right: 0;
  margin-bottom: 0;
  z-index: 999;
  width: 23%;
}
.playlist-footer div {
  display: flex;
}

.playlist-footer img {
  width: 50px;
  height: 50px;
}

.playlist-footer h4 {
  margin-top: 0;
}
.playlist-footer p {
  margin-left: 1em;
}
.audio-container {
  margin-top: 130px;
  padding-bottom: 120px;
}

.inlog-form,
.join-form,
.create-form {
  position: static;
  width: 310px;
  -webkit-box-shadow: 0px 0px 39px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 39px -9px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 39px -9px rgba(0, 0, 0, 0.75);
  padding: 1em;
  display: block;
  margin: 0 auto;
  margin-top: 15em;
  border-radius: 10px;
}

.id {
  width: 160px;
}

.copy {
  text-align: center;
  margin-left: .5rem;
}

.create-form {
  margin-top: 2em;
}

.join-form {
  margin-top: 8em;
}

.inlog-form fieldset,
.join-form fieldset,
.create-form fieldset {
  border: none;
}

.inlog-form legend,
.join-form legend,
.create-form legend {
  padding-left: 0;
}

.inlog-form input[type="submit"],
.join-form input[type="submit"],
.create-form input[type="submit"] {
  display: block;
  margin: 0 auto;
  height: 2.6em;
  padding-left: 1em;
  padding-right: 1em;
  font-size: 14px;
  background-color: black;
  color: white;
  border-radius: 20px;
}

.inlog-form input[type="text"],
.join-form input[type="text"],
.create-form input[type="text"] {
  width: 100%;
  margin-top: 0.5em;
  border: 1px solid lightgray;
  height: 3em;
  padding-left: 1em;
  border-radius: 20px;
}

ul {
  margin-bottom: 3em;
  margin-top: 16em;
}

ul li {
  padding: 1em;
}

.message-form {
  transition: all 1s ease-in-out;
  display: flex;
  align-items: center;
  width: 73%;
  position: fixed;
  bottom: 1rem;
}

.change-size {
  transition: all 1s ease-in-out;
  width: 50%;
}

.message-form input {
  width: 74%;
  height: 3rem;
  border: 1px solid lightgray;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 50px;
  font-size: 16px;
}

.change-size input {
  transition: all 1s ease-in-out;
  width: 72%;
}

.message-form input[type="submit"] {
  width: 23%;
  font-size: 14px;
  background-color: black;
  color: white;
}

.server-message {
  color: black;
  font-weight: bold;
  background-color: lightgray;
}

.list-host {
  width: 90%;
}

.userList-header {
  color: #000;
  position: fixed;
  padding: 1em;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;;
  background-color: #fff;
  top: 0;
  margin-top: 0;
  z-index: 999;
  width: 26.6%;
}

@media (max-width: 769px) {
  .message-form input[type="submit"] {
    width: 20%;
  }

  .message-form input {
    width: 73%;
    font-size: 16px;
  }

  .chat-container {
    width: 100% !important;
  }

  .message-form {
    width: 100% !important;
  }

  .inlog-form,
  .join-form,
  .create-form {
    width: 266px;
  }
  .party-container  {
    display: block;
  }

  .change-size {
    width: 100%;
  }

  .playlist-container a p {
    margin: 20px auto;
  }
  .tracks-container  {
    top: calc(var(--vh, 1vh) * 100);
    width: 100%;
    padding: 0;
    padding-bottom: 1em;
    padding-top: 1em;
    transition: all 1s ease-in-out;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
  }

  .userList  {
    width: 100%;
    right: 0;
    z-index: 9999;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    overflow-x: visible;
  }

  .userList-header  {
    width: 100%;
    right: 0;
    padding: 0;
    z-index: 99999999999999;
    transition: all 1s ease-in-out;
  }
  .list-host {
    width: 100%;
    right: 0;
    padding-left: 1em;
    padding-right: 1em;
    transition: all 1s ease-in-out;
  }

  .closed  {
    right: -100% !important;
    transition: all 1s ease-in-out;
  }

  .closed .userList-header  {
    right: -100%;
    transition: all 1s ease-in-out;
  }
  .closed .list-host {
    right: -100%;
    transition: all 1s ease-in-out;
  }

  .users-number {
    position: static;
    display: block;
    width: 40px;
    left: 0;
    margin-left: 0.4em;
    z-index: 999;
  }
  .n-users {
    position: absolute;
    width: 40px;
    left: -59px;
    background-color: white;
    top: 2rem;
    z-index: 999999999;
  }

  .close {
    position: static;
    left: 0;
  }
  .pik {
    position: absolute;
    transform: translateX(-100%);
    background-color: #1ed760;
    z-index: 999999999;
  }
  .copy {
    background-color: #1ed760;
  }

  .playlist-head  {
    width: 100%;
    top: -100%;
    transition: all 1s ease-in-out;
  }
  
  .audio-container {
    padding-left: 1em;
  }

  .playlist-footer  {
    width: 100%;
    padding: 0;
    padding-bottom: 1em;
    padding-top: 1em;
    bottom: 100%;
    transition: all 1s ease-in-out;
  }
  .playlist-footer h4 {
    padding-left: 1em;
  }
  .playlist-footer div {
    padding-left: 1em;
  }

  body {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  header {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
  }

  .playlist-btn {
    display: block;
    position: fixed;
    top: 0;
    left: 1rem;
    background-color: #1ed760;
    z-index: 999;
  }
  .playlist-mobile-header {
    top: 0;
    transition: all 1s ease-in-out;
  }
  .playlist-mobile-footer {
    bottom: 0;
    transition: all 1s ease-in-out;
  }
  .playlist-mobile-container {
    top: 0;
    transition: all 1s ease-in-out;
  }
}
